@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-filter-option {
    @apply border border-black rounded-3xl px-4 py-1 text-sm  focus:outline-none;
  }

  .btn-filter-options-selected {
    @apply bg-black text-white;
  }
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

.font-roboto {
  font-family: Roboto-Regular;
}

.font-inter {
  font-family: Inter-Regular;
}

.font-inter-semibold {
  font-family: Inter-SemiBold;
}

.font-inter-bold {
  font-family: Inter-Bold;
}

.font-poppins {
  font-family: Poppins-Regular;
}

.font-poppins-bold {
  font-family: Poppins-Bold;
}

.font-poppins-semibold {
  font-family: Poppins-SemiBold;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.floating-input > input::placeholder {
  color: transparent;
}

.floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
  @apply pt-8;
}

.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1;
}
